*/*.pyc
*/*_pb2.py
./batchers/__pycache__/*
./protos/__pycache__/*
./extractors/__pycache__/*
./coordinators/__pycache__/*
./batchers/*_pb2.py
./protos/*_pb2.py
./extractors/*_pb2.py
./coordinators/*_pb2.py
./protos/input_reader_pb2.py
./protos/model_pb2.py
./protos/pipeline_pb2.py
./protos/train_pb2.py
./protos/eval_pb2.py
__pycache__
builders/__pycache__/*
./protos/**_pb2.py
