
model {
    extractor : "inception_v3"
    multi_task_label {
        name: "shape",
        num :  13
    }
    multi_task_label {
        name: "alphanumeric",
        num :  62
    }
}


train_input_reader: {
  tf_record_input_reader {
    input_path: "/home/lie/deskstuff/tf_records_test4"
  }
  shuffle : true
  fraction_of_examples_in_queue: 0.08
  num_batches_past_min_queue_size: 3
  num_epochs: 24
  batch_size: 2
  num_examples: 39
  image_height : 150
  image_width  : 150
  image_channels: 3
  label_map_path: "/home/lie/aiaa/data/shapesLabels.pbtxt"
  multi_task_label_name : "shape"
  multi_task_label_name : "alphanumeric"
}

eval_input_reader: {
  tf_record_input_reader {
    input_path: "/home/lie/deskstuff/tf_records_test4"
  }
  shuffle: false
  num_examples: 39
  image_height : 150
  image_width  : 150
  image_channels: 3
  label_map_path: "/home/lie/aiaa/data/shapesLabels.pbtxt"
  multi_task_label_name : "shape"
  multi_task_label_name : "alphanumeric"
}

train_config {
    fine_tune_checkpoint: "/home/lie/aiaa/ComputerVision/deeplearning/multi_task_models/inception_params/inception_v3.ckpt"
    from_classification_checkpoint: "/home/lie"
    exclude_from_fine_tune: "InceptionV3/AuxLogits"
    exclude_from_fine_tune: "InceptionV3/Logits"
    scopes_or_variables_to_train: "Logits"
    num_steps: 10
    eval_while_training: true
}

eval_config {
    num_examples: 39
    checkpoint_to_restore: "/home/lie/model_ckpt"
}
